<div class="navbar">
  <div class="logo">Samms</div>
  <div class="menu">
    <li>
  <a class="nav-item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
  <a class="nav-item" routerLink="/myproprties" routerLinkActive="active">properties</a>
  <a class="nav-item" routerLink="/tenants" routerLinkActive="active">Tenants</a>
  <a class="nav-item" routerLink="/units" routerLinkActive="active">units</a>

  </li>
</div>
</div>

<router-outlet></router-outlet>
